@import "tailwindcss";
@import "../../../packages/ui/src/tokens.css";
@source "../../../packages/ui/src";

html,
body,
#root {
  height: 100%;
}
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
